
.paginator button {
    margin: 0 5px;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    width: 40px;
}

.paginator_active_item {
    font-weight: bold;
}

.paginator button:disabled {
    background-color: #ddd;
    border-color: #000;
    color: #000;
    cursor: not-allowed;
    text-decoration: none;
}